/pertemuan10/lib/persisten/nbproject/private/
/pertemuan10/src/persiten/nbproject/private/
/pertemuan10/src/pertemuan10/nbproject/private/
/pertemuan10/src/pertemuan10/build/
/guiprak11/nbproject/private/
/guiprak11/build/
/guiprak11/dist/
/tubespbo/nbproject/private/
/MarketplaceProject/nbproject/private/
/MarketplaceProject/build/
/MarketplaceProject/dist/
